---
---

<section
	data-testid="about"
	id="about"
	class="mb-10 flex flex-col items-center justify-center lg:mb-0 lg:h-screen lg:flex-row"
>
	<div class="mb-10 flex w-full flex-col items-center justify-center lg:mb-0 lg:w-1/2">
		<h2 class="font-monospace text-2xl text-green lg:text-4xl">Über mich</h2>
		<span class="mb-6 ml-2 h-1 w-10 bg-green"></span>
	</div>

	<div class="w-full text-justify text-black dark:text-white lg:w-1/2">
		<p class="mb-2">
			Mein Name ist Nico Kerkhoff, ich bin 21 Jahre alt und ich schließe meine Ausbildung als Fachinformatiker Anwendungsentwicklung im Juni erfolgreich ab. 
			Bereits vor meiner Ausbildung konnte ich über viele Jahre hinweg umfassende Kenntnisse in der Softwareentwicklung erwerben. Mein Erfahrungsspektrum erstreckt sich über verschiedene Bereiche, darunter die Entwicklung von Schnittstellen, die Umsetzung von Web- und Desktop-Anwendungen sowie die Gestaltung eigener Computerspiele. 
			In jüngerer Zeit habe ich mein Interesse und Können auch im Bereich Künstliche Intelligenz vertieft. <br><br>

			Trotz meiner bisherigen Erfolge in der Branche strebe ich kontinuierlich nach Weiterbildung und stehe neuen Herausforderungen aufgeschlossen gegenüber. 
			Mit Leidenschaft und Engagement möchte ich meine Fähigkeiten stets erweitern und innovative Projekte erfolgreich umsetzen. 
			Auf der Suche nach neuen beruflichen Möglichkeiten freue ich mich darauf, mein Wissen und meine Erfahrungen in zukünftige Projekte einzubringen.
		</p>
	</div>
</section>
